<style>
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0,0,0, 0.2);
  border-right: 1.1em solid rgba(0,0,0, 0.2);
  border-bottom: 1.1em solid rgba(0,0,0, 0.2);
  border-left: 1.1em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

</style>

<div ng-include="'/../templates/menuButton.html'"></div>
<div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo" style="margin-top:50px;">
	<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title" id="modal-title">Confirmar Agenda</h3>
		</div>
		<div class="modal-body" id="modal-body">
            <form role="form" ng-submit='login()'>
                <fieldset>
                        <div class="list list-inset removePM">
                                <form name="form"  role="form">
                                        <div ng-disabled="isSubmitted">
                        <div class="form-group">
                                <label class="item item-input"><input ng-model="$ctrl.items.jogo.maximoConfirmados" type="number" placeholder="Numero Maximo Jogodores" name="email" id="email" class="form-control" ng-model="lc.user.email" > </label>
                                
                        </div>
                    <div class="form-group">
                            <dl class="dl-horizontal">
                                    <dt>Tempo Agenda</dt>
                                    <dd>
                                        <label class="ui-radio"><input ng-model="$ctrl.items.jogo.confirmacao" name="radio1" type="radio" value="FIXO" checked><span>Fixo</span></label>
                                        <label class="ui-radio"><input ng-model="$ctrl.items.jogo.confirmacao" name="radio1" type="radio" value="SOHOJE" ><span>So Dessa Vez</span></label>
                                        <label class="ui-radio"><input ng-model="$ctrl.items.jogo.confirmacao" name="radio1" type="radio" value="MENSAL"><span>Mensal</span></label>
                                        <label class="ui-radio"><input ng-model="$ctrl.items.jogo.confirmacao" name="radio1" type="radio" value="ANUAL"><span>Anual</span></label>
                                    </dd>
                                    
                                </dl>
                        </div>
                    </div>
                    </div>
                </fieldset>
            </form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="$ctrl.ok($ctrl.items.jogo, $ctrl.items.status)">Gravar</button>
			<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Fechar</button>
		</div>
	</script>
	<script type="text/ng-template" id="stackedModal.html">
		<div class="modal-header">
			<h3 class="modal-title" id="modal-title">Solicitar Participa√ß√£o!</h3>
		</div>
		<div class="modal-body" id="modal-body">
            Sua solicita√ß√£o foi enviada, para o adminstrador <br>
            do jogo assim que for Aprovado/recusado voc√™ receber <br> uma noticica√ß√£o no aplicativo
        </div>
        <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="$ctrl.ok($ctrl.items.jogo, $ctrl.items.status)">Confirmar</button>
                <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Fechar</button>
            </div>
	</script>
	
	<div class="modal-parent">
	</div>
</div>
<ion-view title="Buscar Quadra" id="page5">
	<ion-content padding="true" class="has-header">
		<div id="menu"   ng-controller="BuscaQuadraController as lcA" >
			<loading>
			<div class="panel list-group">
				<a class="list-group-item" data-toggle="collapse" data-target="#sl1fff" data-parent="#menu"><span class="glyphicon glyphicon-resize-vertical"></span>Filtros <span class="glyphicon glyphicon-list pull-right"></span></a>
				<div id="sl1fff" class="sublinks collapse in" style="border: 1px solid rgb(221, 221, 221)">
					<div id="buscarQuadra-container3s" class="creator-container" style="margin-top:1%;margin-left:1%;">
						<div id="map" my-map=""  style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center; position: relative; height: 300px; width: 100%;"></div>
					</div>
					<div id="buscarQuadra-container3" class="creator-container" style="margin-top:1%;margin-left:1%;">
						<label for="Dom" class="btn btn-danger">Dom<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender0" id="defaults" checked="checked" value="DOMINGO" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
						<label for="Seg" class="btn btn-info">Seg<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender1"   checked="checked"  value="SEGUNDA" id="default" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
						<label for="Ter" class="btn btn-info">Ter<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender2"   checked="checked" value="TERCA" id="primary" class="badgebox" ng-true-value="'TERCA'" ng-false-value="'2'"><span class="badge">&check;</span></label>
						<label for="Qua" class="btn btn-info">Qua<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender3"   checked="checked" value="QUARTA" id="info" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
						<label for="Qui" class="btn btn-info">Qui<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender4"   checked="checked" value="QUINTA" id="success" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
						<label for="Sex" class="btn btn-info">Sex<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender5"   checked="checked" value="SEXTA" id="warning" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
						<label for="Sab" class="btn btn-warning">Sab<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender6" checked="checked" value="SABADO" id="danger" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>  
					</div>
					<div id="buscarStatus-container3" class="creator-container"  style="margin-top:1%;margin-left:1%;margin-bottom:1%;">
						<label for="Dom" class="btn btn-info">DISPONIVEL<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender0" id="defaults"  value="DISPONIVEL" checked="checked" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
						<label for="Seg" class="btn btn-info">ACONFIRMAR<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender1"    value="CONFIRMAR" id="default" checked="checked"  class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
						<label for="Ter" class="btn btn-info">OCUPADO<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender2"    value="OCUPADO" id="primary" class="badgebox" checked="checked"><span class="badge">&check;</span></label>
						<label for="Qua" class="btn btn-info">INDISPONIVEL<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender3"    value="INDISPONIVEL" id="info" class="badgebox" checked="checked"><span class="badge">&check;</span></label>
					</div>
				</div>
			</div>
			<div ng-repeat="empresa in empresaList | orderBy:'nome'">
				<div ng-repeat="quadra in empresa.quadras | orderBy:'nome'">
					<div ng-repeat="jogo in quadra.jogos  | priceGreaterThan:'DOMINGO' | filterStatus:'DOMINGO' | orderBy:'status' | orderBy:'dia' | orderBy:'horaInicial'">
						<div class="panel list-group">
							<a class="list-group-item" data-toggle="collapse" data-target="#sm{{jogo.id}}" data-parent="#menu"><span class="glyphicon glyphicon-eye-open"></span><span class="pull-center"> {{quadra.nome}}   -  {{jogo.dia}} - {{jogo.horaInicial}} - {{jogo.horaFinal}} </span>  
							<span class="pull-right">
							<span ng-if="jogo.status=='INDISPONIVEL'" style="font-size:8px" class="label label-danger"> * Reservado</span>
							<span ng-if="jogo.status=='ACONFIRMAR'"  style="font-size:8px" class="label label-warning"> * A Confirmar</span>
							<span ng-if="jogo.status=='DISPONIVEL'" style="font-size:8px"  class="label label-success"> * Disponivel</span>
							<span ng-if="jogo.status=='OCUPADO'" style="font-size:8px" class="label label-danger"> * Reservado</span>
							<span ng-if="jogo.status=='CONFIRMAR'"  style="font-size:8px" class="label label-info"> * Confirmar</span>
							</span>
							</a>
							<div id="sm{{jogo.id}}" class="sublinks collapse">
								<a class="list-group-item small">{{jogo.descricao}}</a>
							</div>
							<a class="list-group-item" data-toggle="collapse" data-target="#s{{jogo.id}}" data-parent="#menu"><span class="glyphicon glyphicon-user"></span> Jogadores <span class="badge badge-success">{{jogo.usersJogo.length}}</span></a>
							<div id="s{{jogo.id}}" class="sublinks collapse" >
								<div ng-repeat="user in jogo.usersJogo">
									<a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> {{user.name}} {{user.lastName}} - ({{user.email}})</a>
								</div>
							</div>
							<div ng-controller="ModalDemoCtrl as $ctrl">
								<a  class="list-group-item">
									A«’ES
									<span class="pull-right">
										<button ng-click="gravarHorario(jogo, 'EXCLUIR')" class="btn btn-xs btn-warning glyphicon glyphicon-trash"      uib-tooltip="Excluir Horario!" tooltip-append-to-body="true" ></button><!-- Excluir-->
										<button ng-if="jogo.status=='INDISPONIVEL'" ng-click="gravarHorario(jogo, 'DESMARCAR')" class="btn btn-xs btn-warning glyphicon glyphicon-remove"   uib-tooltip="Desmarcar!" tooltip-append-to-body="true"></button><!-- Desmarcar -->
										<button ng-if="jogo.status=='CONFIRMAR'"    ng-click="gravarHorario(jogo, 'INDISPONIVEL')" class="btn btn-xs btn-success glyphicon glyphicon-ok"    uib-tooltip="Aprovar!"   tooltip-append-to-body="true"></button><!-- Aprovar -->
										<button ng-if="jogo.status=='CONFIRMAR'"    ng-click="gravarHorario(jogo, 'DISPONIVEL')" class="btn btn-xs btn-warning glyphicon glyphicon-remove"  uib-tooltip="Recusar!"   tooltip-append-to-body="true"></button><!-- nao aprovar -->
										<button ng-if="jogo.status=='OCUPADO'"      ng-click="gravarHorario(jogo, 'DISPONIVEL')" class="btn btn-xs btn-success glyphicon glyphicon-ok"      uib-tooltip="Disponibilizar!" tooltip-append-to-body="true"></button><!-- tornar disponivel -->
										<button ng-if="jogo.status=='DISPONIVEL'"   ng-click="gravarHorario(jogo, 'OCUPADO')" class="btn btn-xs btn-warning glyphicon glyphicon-remove"     uib-tooltip="Ocupar!" tooltip-append-to-body="true"></button><!-- marcar como ocupado -->
										<button ng-if="jogo.status=='DISPONIVEL'"   ng-click="$ctrl.open('sm', '.modal-parent',jogo, 'OCUPADO')" class="btn btn-xs btn-success glyphicon glyphicon-ok"    uib-tooltip="Marcar Horario!" tooltip-append-to-body="true"></button><!-- Aprovar -->
										<button ng-if="jogo.status=='INDISPONIVEL'" ng-click="$ctrl.openSolicitacao('sm', '.modal-parent',jogo, 'OCUPADO')" class="btn btn-xs btn-success glyphicon glyphicon-ok"    uib-tooltip="Solicitar ParticipaÁ„o!" tooltip-append-to-body="true"></button><!-- Aprovar --> 
									</span>
							</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</loading>
	</ion-content>
</ion-view>