<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#/app/cadastro"><i class="icon ion-android-clipboard"></i> Cadastro </a>
      <a class="tab-item" href="#/app/horarios"> <i class="icon ion-ios-time-outline"></i> Horarios </a>
      <a class="tab-item" href="#/app/notificacao"> <i class="icon ion-ios-time-outline"></i> Notificações </a>
      <a class="tab-item" href="#/app/msg"> <i class="icon ion-ios-time-outline"></i> Msg </a>
      <a class="tab-item" href="#/app/fotos"> <i class="icon ion-images"></i> Fotos </a>
    </div>
  </div>
<ion-view title="Cloud Tab Default Page" id="page4">
  <ion-content padding="true" class="has-header"></ion-content>
</ion-view>