<div ng-include="'/../templates/menuButton.html'"></div>
<ion-view title="Fotos" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="fotos-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="fotos-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="fotos-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="fotos-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="list card" id="fotos-card21">
      <ion-item class="item-icon-left" id="fotos-list-item5">
        <i class="icon ion-ionic"></i>Item</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="fotos-list-item-container2">
        <div id="fotos-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="fotos-list-item6">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>