<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item" href="#/app/cadastro"><i class="icon ion-android-clipboard"></i> Cadastro </a>
      <a class="tab-item active" href="#/app/horarios"> <i class="icon ion-ios-time-outline"></i> Horarios </a>
      <a class="tab-item" href="#/app/notificacao"> <i class="icon ion-ios-time-outline"></i> Notificações </a>
      <a class="tab-item" href="#/app/msg"> <i class="icon ion-ios-time-outline"></i> Msg </a>
      <a class="tab-item" href="#/app/fotos"> <i class="icon ion-images"></i> Fotos </a>
    </div>
  </div>
<ion-view title="Horarios" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="horarios-list2">
      <ion-item class="item-icon-right dark" id="horarios-list-item2">Seg 17:30 - 18:30
        <button class="btn btn-info icon ion-android-add-circle" ion-button tooltip="I'm a tooltip below a button" positionV="bottom" arrow></button>
      </ion-item>
      <ion-item class="item-icon-right dark" id="horarios-list-item7">Seg 18:30 - 19:30
        <button class="btn btn-info icon ion-alert"></button>
      </ion-item>
      <ion-item class="item-icon-right dark" id="horarios-list-item8">Seg 19:30 - 20:30
        <button class="btn btn-info icon ion-android-add-circle"></button>
      </ion-item>
      <ion-item class="item-icon-right dark" id="horarios-list-item9">Seg 22:30 - 23:30
        <button class="btn btn-info icon ion-android-add"></button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>