<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item" href="#/app/cadastro"><i class="icon ion-android-clipboard"></i> Cadastro </a>
      <a class="tab-item active" href="#/app/horarios"> <i class="icon ion-ios-time-outline"></i> Horarios </a>
      <a class="tab-item" href="#/app/notificacao"> <i class="icon ion-ios-time-outline"></i> Notificações </a>
      <a class="tab-item" href="#/app/msg"> <i class="icon ion-ios-time-outline"></i> Msg </a>
      <a class="tab-item" href="#/app/fotos"> <i class="icon ion-images"></i> Fotos </a>
    </div>
  </div>
<ion-view title="Horarios" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="menu"   ng-controller="HorarioController as hor" >

        <div ng-repeat="quadra in hor.horarioList.quadras | orderBy:'nome'">
    <div ng-repeat="jogo in quadra.jogos | orderBy:'status' | orderBy:'dia' | orderBy:'horaInicial'">
      <div class="panel list-group">
       <a class="list-group-item" data-toggle="collapse" data-target="#sm10" data-parent="#menu"><span class="glyphicon glyphicon-envelope"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="pull-right">  <button class="btn btn-xs btn-info glyphicon glyphicon-send" ></button> <button class="btn btn-xs btn-warning glyphicon glyphicon-trash"></button></span></a>
       <div id="sm10" class="sublinks collapse">
        <a class="list-group-item small">ttttttttttttttttttttttttttd  ttttttttttttttttttttttttttt tttttttttttttttt</a>
        </div>
       <a class="list-group-item" data-toggle="collapse" data-target="#sl1" data-parent="#menu">TASKS <span class="glyphicon glyphicon-tag pull-right"></span></a>
       <div id="sl1" class="sublinks collapse">
        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> saved tasks</a>
        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> add new task</a>
       </div>
       <a  class="list-group-item">ANOTHER LINK ...<span class="glyphicon glyphicon-stats pull-right"></span></a>
      </div>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>