<div class="tabs-striped  tabs-background-positive tabs-color-light">
  <div class="tabs">
    <a ng-if="hasRole('EMPRESA')" class="tab-item active" href="#/app/cadastro"><i class="icon ion-android-clipboard" uib-tooltip="Cadastro!" tooltip-append-to-body="true"></i> Cadastro </a>
    <a ng-if="hasRole('EMPRESA')" class="tab-item" href="#/app/horarios"> <i class="icon ion-ios-time-outline" uib-tooltip="Horarios!" tooltip-append-to-body="true"></i> Horarios </a>
    <a ng-if="hasRole('ADMIN')" class="tab-item" href="#/app/bQuadra"> <i class="icon ion-ios-time-outline" uib-tooltip="Buscar Quadra!" tooltip-append-to-body="true"></i> Buscar Quadra </a>
    <a ng-if="hasRole('ADMIN')" class="tab-item" href="#/app/meusJogos"> <i class="icon ion-ios-time-outline" uib-tooltip="Meus Jogos!" tooltip-append-to-body="true"></i> Meus Jogos </a>
    <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/notificacao"> <i class="icon ion-ios-time-outline"></i uib-tooltip="Noticifações!" tooltip-append-to-body="true"> Notificações </a>
    <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/msg"> <i class="icon ion-ios-time-outline"></i uib-tooltip="Menssagens!" tooltip-append-to-body="true"> Msg </a>
    <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/fotos"> <i class="icon ion-images"></i uib-tooltip="Fotos!" tooltip-append-to-body="true"> Fotos </a>
  </div>
  </div>
<ion-view title="Horarios" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="menu"   ng-controller="HorarioController as hor" >
        <div class="panel list-group">

            <a class="list-group-item" data-toggle="collapse" data-target="#sl1" data-parent="#menu">Filtros <span class="glyphicon glyphicon-list pull-right"></span></a>
            <div id="sl1" class="sublinks collapse" style="border: 1px solid rgb(221, 221, 221)">
                <div id="buscarQuadra-container3" class="creator-container" style="margin-top:1%;margin-left:1%;">
                    <label for="Dom" class="btn btn-danger">Dom<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender0" id="defaults" checked="checked" value="DOMINGO" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                                  <label for="Seg" class="btn btn-info">Seg<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender1"   checked="checked"  value="SEGUNDA" id="default" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                                  <label for="Ter" class="btn btn-info">Ter<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender2"   checked="checked" value="TERCA" id="primary" class="badgebox" ng-true-value="'TERCA'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                                  <label for="Qua" class="btn btn-info">Qua<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender3"   checked="checked" value="QUARTA" id="info" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                                  <label for="Qui" class="btn btn-info">Qui<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender4"   checked="checked" value="QUINTA" id="success" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                                  <label for="Sex" class="btn btn-info">Sex<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender5"   checked="checked" value="SEXTA" id="warning" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                                  <label for="Sab" class="btn btn-warning">Sab<input ng-click="orderByMe('SABADO')" type="checkbox" name="gender6" checked="checked" value="SABADO" id="danger" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>  
                </div>
                <div id="buscarStatus-container3" class="creator-container"  style="margin-top:1%;margin-left:1%;margin-bottom:1%;">
                    <label for="Disponivel"   class="btn btn-info">Disponivel   <input ng-click="orderByMe('SABADO')" type="checkbox" name="gender0"    value="DISPONIVEL"   class="badgebox" checked="checked"><span class="badge">&check;</span></label>
                    <label for="Confirmar"    class="btn btn-info">A Confirmar  <input ng-click="orderByMe('SABADO')" type="checkbox" name="gender1"    value="CONFIRMAR"    class="badgebox" checked="checked"><span class="badge">&check;</span></label>
                    <label for="Ocupado"      class="btn btn-info">Ocupado      <input ng-click="orderByMe('SABADO')" type="checkbox" name="gender2"    value="OCUPADO"      class="badgebox" checked="checked"><span class="badge">&check;</span></label>
                    <label for="Indisponivel" class="btn btn-info">Indisponivel <input ng-click="orderByMe('SABADO')" type="checkbox" name="gender3"    value="INDISPONIVEL" class="badgebox" checked="checked"><span class="badge">&check;</span></label>
                                  
                </div>
            </div>
            
           </div>
           
        <div ng-repeat="quadra in hor.horarioList.quadras | orderBy:'nome'">
    <div ng-repeat="jogo in quadra.jogos | priceGreaterThan:'DOMINGO' | filterStatus:'DOMINGO' | orderBy:'status' | orderBy:'dia' | orderBy:'horaInicial'">
      <div class="panel list-group">
       <a class="list-group-item" data-toggle="collapse" data-target="#sm{{jogo.id}}" data-parent="#menu"><span class="glyphicon glyphicon-list"></span><span class="pull-center"> {{quadra.nome}}   -  {{jogo.dia}} - {{jogo.horaInicial}} - {{jogo.horaFinal}} </span>  
        <span class="pull-right">
          <span ng-if="jogo.status=='INDISPONIVEL'" style="font-size:8px" class="label label-danger"> * Reservado</span>
          <span ng-if="jogo.status=='ACONFIRMAR'"  style="font-size:8px" class="label label-warning"> * A Confirmar</span>
          <span ng-if="jogo.status=='DISPONIVEL'" style="font-size:8px"  class="label label-success"> * Disponivel</span>
          <span ng-if="jogo.status=='OCUPADO'" style="font-size:8px" class="label label-danger"> * Reservado</span>
          <span ng-if="jogo.status=='CONFIRMAR'"  style="font-size:8px" class="label label-info"> * Confirmar</span>
         
          </span></a>
       <div id="sm{{jogo.id}}" class="sublinks collapse">
        <a class="list-group-item small">{{jogo.descricao}}</a>
        </div>
       <a class="list-group-item" data-toggle="collapse" data-target="#s{{jogo.id}}" data-parent="#menu"><span class="glyphicon glyphicon-user"></span> Jogadores <span class="badge badge-success">{{jogo.usersJogo.length}}</span></a>
       <div id="s{{jogo.id}}" class="sublinks collapse">
        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> saved tasks</a>
        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> add new task</a>
       </div>
       <a  class="list-group-item">AÇÕES
         <span class="pull-right">
         <button ng-click="gravarHorario(jogo, 'EXCLUIR')" class="btn btn-xs btn-warning glyphicon glyphicon-trash"      uib-tooltip="Excluir Horario!" tooltip-append-to-body="true" ></button><!-- Excluir-->
         <button ng-if="jogo.status=='INDISPONIVEL'" ng-click="gravarHorario(jogo, 'DESMARCAR')" class="btn btn-xs btn-warning glyphicon glyphicon-remove"   uib-tooltip="Desmarcar!" tooltip-append-to-body="true"></button><!-- Desmarcar -->
         <button ng-if="jogo.status=='CONFIRMAR'"    ng-click="gravarHorario(jogo, 'INDISPONIVEL')" class="btn btn-xs btn-success glyphicon glyphicon-ok"    uib-tooltip="Aprovar!"   tooltip-append-to-body="true"></button><!-- Aprovar -->
         <button ng-if="jogo.status=='CONFIRMAR'"    ng-click="gravarHorario(jogo, 'DISPONIVEL')" class="btn btn-xs btn-warning glyphicon glyphicon-remove"  uib-tooltip="Recusar!"   tooltip-append-to-body="true"></button><!-- nao aprovar -->
         <button ng-if="jogo.status=='OCUPADO'"      ng-click="gravarHorario(jogo, 'DISPONIVEL')" class="btn btn-xs btn-success glyphicon glyphicon-ok"      uib-tooltip="Disponibilizar!" tooltip-append-to-body="true"></button><!-- tornar disponivel -->
         <button ng-if="jogo.status=='DISPONIVEL'"   ng-click="gravarHorario(jogo, 'OCUPADO')" class="btn btn-xs btn-warning glyphicon glyphicon-remove"     uib-tooltip="Ocupar!" tooltip-append-to-body="true"></button><!-- marcar como ocupado -->
         <button ng-if="jogo.status=='DISPONIVEL'"   ng-click="gravarHorario(jogo, 'INDISPONIVEL')" class="btn btn-xs btn-success glyphicon glyphicon-ok"    uib-tooltip="Marcar Horario!" tooltip-append-to-body="true"></button><!-- Aprovar -->
         
        </span>
      </a>
      </div>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>