<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item" href="#/app/cadastro"><i class="icon ion-android-clipboard"></i> Cadastro </a>
      <a class="tab-item" href="#/app/horarios"> <i class="icon ion-ios-time-outline"></i> Horarios </a>
      <a class="tab-item" href="#/app/notificacao"> <i class="icon ion-ios-time-outline"></i> Notificações </a>
      <a class="tab-item active" href="#/app/msg"> <i class="icon ion-ios-time-outline"></i> Msg </a>
      <a class="tab-item" href="#/app/fotos"> <i class="icon ion-images"></i> Fotos </a>
    </div>
  </div>
<ion-view title="Mensagem" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="mensagem-list3">
      <ion-item class="item-avatar item-icon-right" id="mensagem-list-item11">
        <h2>Item</h2>
        <i class="icon ion-android-cancel"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mensagem-list-item13">
        <h2>Item</h2>
        <i class="icon ion-android-cancel"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mensagem-list-item14">
        <h2>Item</h2>
        <i class="icon ion-android-cancel"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mensagem-list-item15">
        <h2>Item</h2>
        <i class="icon ion-android-cancel"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>