
  <div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a ng-if="hasRole('EMPRESA')" class="tab-item active" href="#/app/cadastro">                  <i class="icon ion-android-clipboard"        uib-tooltip="Cadastro!" tooltip-append-to-body="true"></i> Cadastro </a>
      <a ng-if="hasRole('EMPRESA')" class="tab-item" href="#/app/horarios">                         <i class="icon ion-ios-time-outline"         uib-tooltip="Horarios!" tooltip-append-to-body="true"></i> Horarios </a>
      <a ng-if="hasRole('ADMIN')" class="tab-item" href="#/app/bQuadra">                            <i class="icon ion-android-pin"         uib-tooltip="Buscar Quadra!" tooltip-append-to-body="true"></i> Buscar Quadra </a>
      <a ng-if="hasRole('ADMIN')" class="tab-item" href="#/app/meusJogos">                          <i class="icon ion-android-home"             uib-tooltip="Meus Jogos!" tooltip-append-to-body="true"></i> Meus Jogos </a>
      <a ng-if="hasRole('ADMIN')" class="tab-item" href="#/app/escolherTimeAutomatico">             <i class="icon ion-android-settings"         uib-tooltip="Escolher Time Automatico!" tooltip-append-to-body="true"></i> Escolher Time Automatico</a>
      <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/notificacao"> <i class="icon ion-android-warning"         uib-tooltip="Noticifações!" tooltip-append-to-body="true"></i> Notificações </a>
      <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/msg">         <i class="icon ion-android-chat"         uib-tooltip="Menssagens!" tooltip-append-to-body="true"></i> Msg </a>
      <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/profiles">       <i class="icon ion-android-person"                   uib-tooltip="Perfil!" tooltip-append-to-body="true"></i> Perfil </a>
      <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#" ng-click="logout()"><i class="icon ion-android-exit"                   uib-tooltip="Sair!" tooltip-append-to-body="true"></i> Sair </a>
    </div>
    </div>