<style>
	/* Hiding the checkbox, but allowing it to be focused */
	.badgebox {
	opacity: 0;
	}
	.badgebox + .badge {
	/* Move the check mark away when unchecked */
	text-indent: -999999px;
	/* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
	}
	.badgebox:focus + .badge {
	/* Set something to make the badge looks focused */
	/* This really depends on the application, in my case it was: */
	/* Adding a light border */
	box-shadow: inset 0px 0px 5px;
	/* Taking the difference out of the padding */
	}
	.badgebox:checked + .badge {
	/* Move the check mark back when checked */
	text-indent: 0;
	}
</style>
<div ng-include="'/../templates/menuButton.html'"></div>

			
<ion-view title="Meus Jogos" id="page5" >
	<ion-content padding="true" class="has-header">
		<section>

				<div data-ng-controller="MeusJogosController  as ec">
						<!-- Stats -->
						<div class="row text-center">
							<div class="col-lg-3 col-xsm-6">
								<div class="panel mini-box">
									<span class="box-icon rounded bg-success">
									<span class="fa" ><img src="/../images/gols_LEa_6.ico" alt="Smiley face" height="100%" width="100%" ></span>
									</span>
									<div class="box-info">
										<p class="size-h2">{{iQuantGols}} <span class="size-h4">Gols</span></p>
										<p class="text-muted"><span data-translate="growth"></span></p>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-xsm-6">
								<div class="panel mini-box">
									<span class="box-icon rounded bg-info">
									<i class="fa fa-address-card"></i>
									</span>
									<div class="box-info">
										<p class="size-h2">{{fMedia}} <span class="size-h4">%</span></p>
										<p class="text-muted"><span data-translate="new users"></span></p>
									</div>
								</div>
							</div>
						</div>
						<div ng-show="bUserJogoAprovar">
							<a class="list-group-item" data-toggle="collapse" data-target="#sl1dfff" data-parent="#menu"><span class="glyphicon glyphicon-resize-vertical"></span>Aprovar/Recusar Jogador <span class="glyphicon glyphicon-list pull-right"></span></a>
							<div id="sl1dfff" class="sublinks collapse" style="border: 1px solid rgb(221, 221, 221)">
								<div id="menu">
									<div class="panel list-group">
										<div ng-repeat="jogo in jogos | orderBy:'dia'">
											<div class="well" ng-repeat="jogoDatas in jogo.usersJogo2 | filter : myFilterUserJogo   | orderBy:'-id'">
												<a class="list-group-item" data-toggle="collapse" data-target="#sm100{{jogo.id-$index}}" data-parent="#menu"><span class="glyphicon glyphicon-home"></span> K10 SPORTS QUADRA-1</a>
												<div id="sm100{{jogo.id-$index}}" class="sublinks collapse">
													<a class="list-group-item small"> </a>
												</div>
												<a class="list-group-item" data-toggle="collapse" data-target="#sssdd{{jogoDatas.id-$index}}" data-parent="#menu"><span class="glyphicon glyphicon-user"></span> {{fnNameJogadorAprovar(jogo,jogoDatas)}} </a>
			
												<a class="list-group-item">
													{{jogo.dia}}  {{jogo.horaInicial}} {{jogo.horaFinal}}. 
													<span class="pull-right">
														<button ng-click="aprovarJogador(jogoDatas, 'CONFIRMADO')" class="btn btn-xs btn-success glyphicon glyphicon-ok"    uib-tooltip="Aprovar!"   tooltip-append-to-body="true"></button><!-- Aprovar -->
														<button ng-click="aprovarJogador(jogoDatas, 'RECUSADO')" class="btn btn-xs btn-warning glyphicon glyphicon-remove"     uib-tooltip="Resusar!"   tooltip-append-to-body="true"></button><!-- Desmarcar -->
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</br>
						<div ng-show="bUserJogoConfirm">
							<a class="list-group-item" data-toggle="collapse" data-target="#sl1fff" data-parent="#menu"><span class="glyphicon glyphicon-resize-vertical"></span>Meus Jogos para confirmar <span class="glyphicon glyphicon-list pull-right"></span></a>
							<div id="sl1fff" class="sublinks collapse" style="border: 1px solid rgb(221, 221, 221)">
								<div id="menu">
									<div class="panel list-group">
										<div ng-repeat="jogo in jogos | orderBy:'dia'">
											<div class="well" ng-repeat="jogoData in jogo.jogos | filter : myFilter3   | orderBy:'-data'">
												<a class="list-group-item" data-toggle="collapse" data-target="#sm10{{jogo.id-$index}}" data-parent="#menu"><span class="glyphicon glyphicon-home"></span> K10 SPORTS QUADRA-1 <span>{{jogoData.data | date:"dd/MM/yy"}}</span></a>
												<div id="sm10{{jogo.id-$index}}" class="sublinks collapse">
													<a class="list-group-item small"> {{jogoData.status}} - {{jogo.dia}}  {{jogo.horaInicial}} {{jogo.horaFinal}}.</a>
												</div>
												<a class="list-group-item" data-toggle="collapse" data-target="#ss{{jogoData.id-$index}}" data-parent="#menu"><span class="glyphicon glyphicon-user"></span> Jogadores <span class="badge badge-success">{{jogo.usersJogo.length}}</span></a>
												<div id="ss{{jogoData.id-$index}}" class="sublinks collapse">
													<div ng-repeat="user in jogo.usersJogo">
														<a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> {{user.name}} {{user.lastName}}<span class="pull-right fa">
														<img ng-show="fnConfirm(jogoData.userConfirm, user ) === 1" src="/../images/hold.png" uib-tooltip="Sem Resposta!" tooltip-append-to-body="true" height="20px" width="20px" >
														<img ng-show="fnConfirm(jogoData.userConfirm, user ) === 2" src="/../images/dislike2.png" uib-tooltip="Não Vo!" tooltip-append-to-body="true" height="20px" width="20px" >
														<img ng-show="fnConfirm(jogoData.userConfirm, user ) === 3" src="/../images/like.png" uib-tooltip="Estarei lá!" tooltip-append-to-body="true" height="20px" width="20px" ></span>
														</a>
													</div>
												</div>
												<a class="list-group-item">
													Ações 
													<span class="pull-right">
														<button ng-click="gravarHorario(jogoData, 'CONFIRMADO')" class="btn btn-xs btn-success glyphicon glyphicon-ok"    uib-tooltip="Confirmar!"   tooltip-append-to-body="true"></button><!-- Aprovar -->
														<button ng-click="gravarHorario(jogoData, 'NAOVO')" class="btn btn-xs btn-warning glyphicon glyphicon-remove"   uib-tooltip="Não Vai dar!"    tooltip-append-to-body="true"></button><!-- Desmarcar -->
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</br>
						<div ng-show="bUserJogoJogado">
							<a class="list-group-item" data-toggle="collapse" data-target="#sl1fffs" data-parent="#menu"><span class="glyphicon glyphicon-resize-vertical"></span>Meus Jogos <span class="glyphicon glyphicon-list pull-right"></span></a>
							<div id="sl1fffs" class="sublinks collapse" style="border: 1px solid rgb(221, 221, 221)">
								<div id="menu">
									<div class="panel list-group">
										<div ng-repeat="jogo in jogos | orderBy:'dia'">
											<div class="well" ng-repeat="jogoData in jogo.jogos  | filter : myFilter2 | orderBy:'-data'">
												<a class="list-group-item" data-toggle="collapse" data-target="#sm{{jogo.id-$index}}" data-parent="#menu" style="cursor:pointer"><span class="glyphicon glyphicon-home"></span> K10 SPORTS QUADRA-1 <span>{{jogoData.data | date:"dd/MM/yy"}}</span></a>
												<div id="sm{{jogo.id-$index}}" class="sublinks collapse">
													<div class="list-group-item"><span class="glyphicon glyphicon-user"></span> Nota <span class="pull-right popover-wrapper"><a href="#" style="width:50px" editable-number="jogoData.nota" e-min="0"><span class="badge badge-success">{{ jogoData.nota || '0' }}</span></a>
														</span>
													</div>
													<div class="list-group-item"><span class="glyphicon glyphicon-user"></span> NÂ° Gol <span class="pull-right popover-wrapper"><a href="#" style="width:50px" editable-number="jogoData.qntGols" e-min="0"><span class="badge badge-success">{{ jogoData.qntGols || '0' }}</span></a>
														</span>
													</div>
													<a class="list-group-item small"></a>
												</div>
												<a class="list-group-item" data-toggle="collapse" data-target="#sds{{jogoData.id-$index}}" data-parent="#menu"><span class="glyphicon glyphicon-user"></span> Jogadores <span class="badge badge-success">{{jogo.usersJogo.length}}</span></a>
												<div id="sds{{jogoData.id-$index}}" class="sublinks collapse">
													<div ng-repeat="user in jogo.usersJogo">
														<a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> {{user.name}} {{user.lastName}}<span class="pull-right fa">
														<img ng-show="fnConfirm(jogo, user ) === 1" src="/../images/hold.png" uib-tooltip="Sem Resposta!" tooltip-append-to-body="true" height="20px" width="20px" >
														<img ng-show="fnConfirm(jogo, user ) === 2" src="/../images/dislike2.png" uib-tooltip="Não Vo!" tooltip-append-to-body="true" height="20px" width="20px" >
														<img ng-show="fnConfirm(jogo, user ) === 3" src="/../images/like.png" uib-tooltip="Estarei lá!" tooltip-append-to-body="true" height="20px" width="20px" ></span>
														</a>
													</div>
												</div>
												<a class="list-group-item"> {{jogoData.status}} -  {{jogo.dia}}  {{jogo.horaInicial}} {{jogo.horaFinal}}. <span class="pull-right"></span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</br>
						<!-- end stats -->
						<hr>
						<div ng-show="jogo > 0">
							<div class="row" style="width:100%;">
								<div class="panel panel-default panel-minimal" style="width:100%;">
									<div class="divider divider-md"></div>
									<div class="panel-heading">Gols/Notas</div>
									<div class="panel-body" style="width:100%;">
										<div data-echarts data-options="ec.combo.options" style="height: 350px;width:100%;"></div>
									</div>
								</div>
							</div>
						</div>
						<hr>
					</div>
				<div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
			<button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>
			<button type="button" class="btn btn-default" ng-click="$ctrl.open('lg')">Large modal</button>
			<button type="button" class="btn btn-default" ng-click="$ctrl.open('sm')">Small modal</button>
			<button type="button" 
				class="btn btn-default" 
				ng-click="$ctrl.open('sm', '.modal-parent')">
					Modal appended to a custom parent
			</button>
			<button type="button" class="btn btn-default" ng-click="$ctrl.toggleAnimation()">Toggle Animation ({{ $ctrl.animationsEnabled }})</button>
			<button type="button" class="btn btn-default" ng-click="$ctrl.openComponentModal()">Open a component modal!</button>
			<button type="button" class="btn btn-default" ng-click="$ctrl.openMultipleModals()">
				Open multiple modals at once 
			</button>
			</div>
		</section>



	</ion-content>
</ion-view>