<style>
  /* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}
</style>
<div class="tabs-striped  tabs-background-positive tabs-color-light">
  <div class="tabs">
    <a ng-if="hasRole('EMPRESA')" class="tab-item active" href="#/app/cadastro"><i class="icon ion-android-clipboard"></i> Cadastro </a>
    <a ng-if="hasRole('EMPRESA')" class="tab-item" href="#/app/horarios"> <i class="icon ion-ios-time-outline"></i> Horarios </a>
    <a ng-if="hasRole('ADMIN')" class="tab-item" href="#/app/bQuadra"> <i class="icon ion-ios-time-outline"></i> Buscar Quadra </a>
    <a ng-if="hasRole('ADMIN')" class="tab-item" href="#/app/meusJogos"> <i class="icon ion-ios-time-outline"></i> Meus Jogos </a>
    <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/notificacao"> <i class="icon ion-ios-time-outline"></i> Notificações </a>
    <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/msg"> <i class="icon ion-ios-time-outline"></i> Msg </a>
    <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/fotos"> <i class="icon ion-images"></i> Fotos </a>
  </div>
  </div>
<ion-view title="Meus Jogos" id="page5">
  <ion-content padding="true" class="has-header">
      <!-- Accordion -->


    <section class="panel panel-default">
      <div class="panel-heading"><span class="glyphicon glyphicon-th"></span></div>
      <div class="panel-body" data-ng-controller="MeusJogosController  as ec">

            <section class="panel panel-default">
    
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Meus Jogos</h3>
                        </div>
                        <div class="panel-body">
                          <div id="menu">
                            <div class="panel list-group">
                             <div ng-repeat="jogo in jogos | orderBy:'dia'">
                                    <div ng-repeat="jogoData in jogo.jogos | orderBy:'data'">
                                <a class="list-group-item" data-toggle="collapse" data-target="#sm{{jogo.id-$index}}" data-parent="#menu"><span class="glyphicon glyphicon-home"></span> K10 SPORTS QUADRA-1 </a>
                                <div id="sm{{jogo.id-$index}}" class="sublinks collapse">
                                        <div class="list-group-item"><span class="glyphicon glyphicon-user"></span> Nota <span class="badge badge-success">{{jogoData.nota}}</span></div>  
                                        <div class="list-group-item"><span class="glyphicon glyphicon-user"></span> N° Gol <span class="badge badge-success">{{jogoData.qntGols}}</span></div>      
                                    
                                       
                                <a class="list-group-item small"></a>
                                </div>
                                
                                <a  class="list-group-item"><span>{{jogoData.data | date:"dd/MM/yy"}}</span> {{jogo.dia}}  {{jogo.horaInicial}} {{jogo.horaFinal}}. <span class="pull-right">  <button class="btn btn-xs btn-info glyphicon glyphicon-send" ></button> <button class="btn btn-xs btn-warning glyphicon glyphicon-trash"></button></span></a>
                                </div>
                            </div>
                            </div>
                          </div>
                        </div>
                    </div>
            
                    <div class="panel panel-success">
                      <div class="panel-heading">
                          <h3 class="panel-title">Meus Jogos para confirmar</h3>
                      </div>
                      <div class="panel-body">
                        <div id="menu">
                          <div class="panel list-group">
                           <a class="list-group-item" data-toggle="collapse" data-target="#sm10" data-parent="#menu"><span class="glyphicon glyphicon-home"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                           <div id="sm10" class="sublinks collapse">
                            <a class="list-group-item small">ttttttttttttttttttttttttttd  ttttttttttttttttttttttttttt tttttttttttttttt</a>
                            </div>
                           <a class="list-group-item" data-toggle="collapse" data-target="#sl1" data-parent="#menu"><span class="glyphicon glyphicon-user"></span> Jogadores <span class="badge badge-success">2</span></a>
                           <div id="sl1" class="sublinks collapse">
                            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> saved tasks</a>
                            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> add new task</a>
                           </div>
                           <a  class="list-group-item">10/10/2017 <span class="pull-right">  <button uib-popover="On mouse enter!" popover-trigger="'mouseenter'" class="btn btn-xs btn-info glyphicon glyphicon-send" ></button> <button uib-popover="On mouse enter 2!" popover-trigger="'mouseenter'" class="btn btn-xs btn-warning glyphicon glyphicon-trash"></button></span></a>
                          </div>
                          </div>
                      </div>
                  </div>
                  
            </section>
            <!-- Stats -->
    <div class="row text-center">
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon rounded bg-success">
                    <span class="fa fa-rocket"></span>
                </span>
                <div class="box-info">
                    <p class="size-h2">36 <span class="size-h4">%</span></p>
                    <p class="text-muted"><span data-translate="growth"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon rounded bg-info">
                    <i class="fa fa-users"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">22 <span class="size-h4">%</span></p>
                    <p class="text-muted"><span data-translate="new users"></span></p>
                </div>
            </div>
        </div>
        </div>
        <div class="row text-center">
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon rounded bg-warning">
                    <i class="fa fa-dollar"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">81 <span class="size-h4">k</span></p>
                    <p class="text-muted"><span data-translate="profit"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon rounded bg-danger">
                    <i class="fa fa-shopping-cart"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">13 <span class="size-h4">k</span></p>
                    <p class="text-muted"><span data-translate="sales"></span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end stats -->
          <hr>
          <div class="row" style="width:100%;">
                <div class="panel panel-default panel-minimal" style="width:100%;">
                    <div class="divider divider-md"></div>
                    <div class="panel-heading">Gols/Notas</div>
                    <div class="panel-body" style="width:100%;">
                        <div data-echarts data-options="ec.combo.options" style="height: 350px;width:100%;"></div>
                    </div>
                </div>
    
             </div>
          <hr>
         
        
        </div>
  </section>
  
  </ion-content>
</ion-view>