<style>
  /* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}
</style>
<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#/app/cadastro"><i class="icon ion-android-clipboard"></i> Cadastro </a>
      <a class="tab-item" href="#/app/horarios"> <i class="icon ion-ios-time-outline"></i> Horarios </a>
      <a class="tab-item" href="#/app/notificacao"> <i class="icon ion-ios-time-outline"></i> Notificações </a>
      <a class="tab-item" href="#/app/msg"> <i class="icon ion-ios-time-outline"></i> Msg </a>
      <a class="tab-item" href="#/app/fotos"> <i class="icon ion-images"></i> Fotos </a>
    </div>
  </div>
<ion-view title="Tab 4 Default Page" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="tab4DefaultPage-form2" class="list"  ng-controller="CadastroController as lc">
      <div class="form-group" ng-class="{ 'has-error': form.nomeEmpresa.$dirty && (form.nomeEmpresa.$error.required) }">
          <label class="item item-input"><input type="text" placeholder="Nome Empresa" name="nomeEmpresa" id="nomeEmpresa" class="form-control" ng-model="lc.empresa.nome" required > </label>
          <span ng-show="form.nomeEmpresa.$dirty && form.nomeEmpresa.$error.required" class="help-block">Nome Empresa e obrigatorio</span>
      </div>
      <div class="form-group" ng-class="{ 'has-error': form.nomeResponsavel.$dirty && (form.nomeResponsavel.$error.required) }">
          <label class="item item-input"><input type="text" placeholder="Nome Responsavel" name="nomeResponsavel" id="nomeResponsavel" class="form-control" ng-model="lc.empresa.nomeResponsavel" required > </label>
          <span ng-show="form.nomeResponsavel.$dirty && form.nomeResponsavel.$error.required" class="help-block">Nome Responsavel e obrigatorio</span>
      </div>
      <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && (form.email.$error.required || form.email.$error.email) }">
          <label class="item item-input"><input type="email" placeholder="Endereço Email" name="email" id="email" class="form-control" ng-model="lc.empresa.email" required > </label>
          <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
          <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Email is invalid</span>
      </div>
      <label class="item item-input" id="tab4DefaultPage-input6" name="Telefone">
        <input type="tel" placeholder="Telefone">
      </label>
      <div class="form-group" ng-class="{ 'has-error': form.telefone.$dirty && (form.telefone.$error.required) }">
          <label class="item item-input"><input type="text" placeholder="Telefone" name="telefone" id="telefone" class="form-control" ng-model="lc.empresa.telefone" required > </label>
          <span ng-show="form.telefone.$dirty && form.telefone.$error.required" class="help-block">Telefone e obrigatorio</span>
      </div>
      <div class="form-group" ng-class="{ 'has-error': form.cep.$dirty && (form.cep.$error.required) }">
          <label class="item item-input" id="tab4DefaultPage-search1" name="cep">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" placeholder="CEP" name="cep" id="cep" class="form-control" ng-model="lc.empresa.endereco.cep" required >
                  
          </label>
          <span ng-show="form.cep.$dirty && form.cep.$error.required" class="help-block">Cep e obrigatorio</span>
      </div>
      <div class="form-group" ng-class="{ 'has-error': form.logradouro.$dirty && (form.logradouro.$error.required) }">
          <label class="item item-input"><input type="text" placeholder="Logradouro" name="logradouro" id="logradouro" ng-model="lc.empresa.endereco.logradouro" required > </label>
          <span ng-show="form.logradouro.$dirty && form.logradouro.$error.required" class="help-block">logradouro is required</span>
      </div>
      <label class="item item-input" id="tab4DefaultPage-input9">
        <input type="number" placeholder="Numero"  ng-model="lc.empresa.endereco.numero">
      </label>
      <label class="item item-input" id="tab4DefaultPage-input10" name="Cidade">
        <input type="text" placeholder="Cidade"  ng-model="lc.empresa.endereco.cidade">
      </label>
      <label class="item item-select" id="tab4DefaultPage-select1">
        <span class="input-label"></span>
        <select  ng-model="lc.empresa.endereco.estado.id">
          <option value="1">MG - Minas Gerais</option>
        </select>
      </label>
      <label class="item item-input" id="tab4DefaultPage-input12" name="Referencia">
        <input type="text" placeholder="Referencia"  ng-model="lc.empresa.endereco.referencia">
      </label>
      <div id="tab4DefaultPage-container1" class="well">
        <h5 id="tab4DefaultPage-heading1" style="color:#000000;">Aberto</h5>
        <div ng-repeat="horasTrabalho in lc.empresa.horarios">
          <hr/>
                  <label class="item item-input" id="tab4DefaultPage-input10" name="Cidade">
                    <input type="time" placeholder="Hor. Abertura" ng-model="horasTrabalho.abertura">
                  </label>
       
            
                  <label class="item item-input" id="tab4DefaultPage-input10" name="Cidade">
                    <input type="time" placeholder="Hor. Fechar" ng-model="horasTrabalho.fecha">
                  </label>
            


                        <label for="Dom" class="btn btn-danger">Dom<input ng-model="horasTrabalho.segunda" type="checkbox" id="defaults" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                        <label for="Seg" class="btn btn-info">Seg<input ng-model="horasTrabalho.terca" type="checkbox" id="default" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                        <label for="Ter" class="btn btn-info">Ter<input ng-model="horasTrabalho.quarta" type="checkbox" id="primary" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                        <label for="Qua" class="btn btn-info">Qua<input ng-model="horasTrabalho.quinta " type="checkbox" id="info" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                        <label for="Qui" class="btn btn-info">Qui<input ng-model="horasTrabalho.sexta" type="checkbox" id="success" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                        <label for="Sex" class="btn btn-info">Sex<input ng-model="horasTrabalho.sabado" type="checkbox" id="warning" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>
                        <label for="Sab" class="btn btn-warning">Sab<input ng-model="horasTrabalho.domingo" type="checkbox" id="danger" class="badgebox" ng-true-value="'1'" ng-false-value="'2'"><span class="badge">&check;</span></label>   
           
                <div class="row">
                    <button type="button" ng-click="lc.createForm()" class="btn btn-warning">
                        Incluir Horario</i>
                    </button>     
                    <button ng-show="$index > 0" ng-hide="$index == 0" type="button" ng-click="lc.deleteForm(horasTrabalho)" class="btn btn-danger"> Excluir Horario</i></button>
                </div>
</div>
        </div>
      </div>
      <div class="loginButton"><button ng-click="lc.login()" type="button" ng-disabled="form.$invalid || dataLoading" class="button ion-unlocked button-block button-balanced"> Gravar</button>  </div>
    </form>
    <div style="margin-top:10%"></div>
  </ion-content>
</ion-view>