<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#/app/cadastro"><i class="icon ion-android-clipboard"></i> Cadastro </a>
      <a class="tab-item" href="#/app/horarios"> <i class="icon ion-ios-time-outline"></i> Horarios </a>
      <a class="tab-item" href="#/app/notificacao"> <i class="icon ion-ios-time-outline"></i> Notificações </a>
      <a class="tab-item" href="#/app/msg"> <i class="icon ion-ios-time-outline"></i> Msg </a>
      <a class="tab-item" href="#/app/fotos"> <i class="icon ion-images"></i> Fotos </a>
    </div>
  </div>
<ion-view title="Tab 4 Default Page" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="tab4DefaultPage-form2" class="list">
      <label class="item item-input" id="tab4DefaultPage-input3">
        <input type="text" placeholder="Nome Empresa">
      </label>
      <label class="item item-input" id="tab4DefaultPage-input4" name="nome">
        <input type="text" placeholder="Nome Responsavel">
      </label>
      <label class="item item-input" id="tab4DefaultPage-input5" name="Email">
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input" id="tab4DefaultPage-input6" name="Telefone">
        <input type="tel" placeholder="Telefone">
      </label>
      <label class="item item-input" id="tab4DefaultPage-search1" name="cep">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Cep">
      </label>
      <label class="item item-input" id="tab4DefaultPage-input8" name="Logradouro">
        <input type="text" placeholder="Logradouro">
      </label>
      <label class="item item-input" id="tab4DefaultPage-input9">
        <input type="number" placeholder="Numero">
      </label>
      <label class="item item-input" id="tab4DefaultPage-input10" name="Cidade">
        <input type="text" placeholder="Cidade">
      </label>
      <label class="item item-select" id="tab4DefaultPage-select1">
        <span class="input-label"></span>
        <select>
          <option>MG - Minas Gerais</option>
        </select>
      </label>
      <label class="item item-input" id="tab4DefaultPage-input12" name="Referencia">
        <input type="text" placeholder="Referencia">
      </label>
      <div id="tab4DefaultPage-container1">
        <h5 id="tab4DefaultPage-heading1" style="color:#000000;">Aberto</h5>
        <form id="tab4DefaultPage-form3" class="list">
          <ion-checkbox id="tab4DefaultPage-checkbox2">Dom</ion-checkbox>
          <label class="item item-input" id="tab4DefaultPage-input13">
            <span class="input-label">Hor. Abrir</span>
            <input type="time" placeholder="Hor. Abrir">
          </label>
          <label class="item item-input" id="tab4DefaultPage-input14">
            <span class="input-label">Hor. Fechar</span>
            <input type="time" placeholder="Hor. Fechar">
          </label>
          <ion-checkbox id="tab4DefaultPage-checkbox3">Seg</ion-checkbox>
          <label class="item item-input" id="tab4DefaultPage-input16">
            <span class="input-label">Hor. Abrir</span>
            <input type="time" placeholder="">
          </label>
          <label class="item item-input" id="tab4DefaultPage-input17">
            <span class="input-label">Hor. Fechar</span>
            <input type="time" placeholder="">
          </label>
          <ion-checkbox id="tab4DefaultPage-checkbox4">Ter</ion-checkbox>
          <label class="item item-input" id="tab4DefaultPage-input18">
            <span class="input-label">Hor. Abrir</span>
            <input type="time" placeholder="">
          </label>
          <label class="item item-input" id="tab4DefaultPage-input19">
            <span class="input-label">Hor. Fechar</span>
            <input type="time" placeholder="">
          </label>
          <ion-checkbox id="tab4DefaultPage-checkbox5">Qua</ion-checkbox>
          <label class="item item-input" id="tab4DefaultPage-input20">
            <span class="input-label">Hor. Abrir</span>
            <input type="time" placeholder="">
          </label>
          <label class="item item-input" id="tab4DefaultPage-input21">
            <span class="input-label">Hor. Fechar</span>
            <input type="time" placeholder="">
          </label>
          <ion-checkbox id="tab4DefaultPage-checkbox6">Qui</ion-checkbox>
          <label class="item item-input" id="tab4DefaultPage-input22">
            <span class="input-label">Hor. Abrir</span>
            <input type="time" placeholder="">
          </label>
          <label class="item item-input" id="tab4DefaultPage-input23">
            <span class="input-label">Hor. Fechar</span>
            <input type="time" placeholder="">
          </label>
          <ion-checkbox id="tab4DefaultPage-checkbox7">Sex</ion-checkbox>
          <label class="item item-input" id="tab4DefaultPage-input25">
            <span class="input-label">Hor. Abrir</span>
            <input type="time" placeholder="">
          </label>
          <label class="item item-input" id="tab4DefaultPage-input24">
            <span class="input-label">Hor. Fechar</span>
            <input type="time" placeholder="">
          </label>
          <ion-checkbox id="tab4DefaultPage-checkbox8">Sab</ion-checkbox>
          <label class="item item-input" id="tab4DefaultPage-input26">
            <span class="input-label">Hor. Abrir</span>
            <input type="time" placeholder="">
          </label>
          <label class="item item-input" id="tab4DefaultPage-input15">
            <span class="input-label">Hor. Fechar</span>
            <input type="time" placeholder="Hor. Fechar">
          </label>
        </form>
      </div>
    </form>
  </ion-content>
</ion-view>