<div class="tabs-striped  tabs-background-positive tabs-color-light">
  <div class="tabs">
    <a ng-if="hasRole('EMPRESA')" class="tab-item active" href="#/app/cadastro"><i class="icon ion-android-clipboard"></i> Cadastro </a>
    <a ng-if="hasRole('EMPRESA')" class="tab-item" href="#/app/horarios"> <i class="icon ion-ios-time-outline"></i> Horarios </a>
    <a ng-if="hasRole('ADMIN')" class="tab-item" href="#/app/bQuadra"> <i class="icon ion-ios-time-outline"></i> Buscar Quadra </a>
    <a ng-if="hasRole('ADMIN')" class="tab-item" href="#/app/meusJogos"> <i class="icon ion-ios-time-outline"></i> Meus Jogos </a>
    <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/notificacao"> <i class="icon ion-ios-time-outline"></i> Notificações </a>
    <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/msg"> <i class="icon ion-ios-time-outline"></i> Msg </a>
    <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/fotos"> <i class="icon ion-images"></i> Fotos </a>
  </div>
  </div>
<ion-view title="Mensagem" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="row">
        <div class="col-xs-8"></div>
        <div class="col-xs-4">
          <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
              Nova Mensagem</i>
          </button>    
        </div> 
    </div>
      <div class="collapse" id="collapseExample">
        <div class="well">
          dddddddddddddddddddddddddddddddddddddddddddddddddddddddd
          ddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
          dddddddddddddddddddd
        </div>
      </div>
    <div class="row"></div>
      <div class="container">
          <div class="panel panel-default">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>
                    <span class="glyphicon glyphicon-envelope"></span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <div class="collapse" id="collapseExampledd">
                        <div class="col-xe-11">
                          dddddddddddddddddddddddddddddddddddddddddddddddddddddddd
                          ddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
                          dddddddddddddddddddd
                        </div>
                      </div>
                  </td>
                  <td class="text-right text-nowrap">
                    <button class="btn btn-xs btn-info glyphicon glyphicon-send" data-toggle="collapse" data-target="#collapseExampledd" aria-expanded="false" aria-controls="collapseExampledd" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Tooltip on left"></button>
                    <button class="btn btn-xs btn-warning">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                    <td>
                      <span class="glyphicon glyphicon-envelope"></span>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </td>
                    <td class="text-right text-nowrap">
                      <button class="btn btn-xs btn-info glyphicon glyphicon-send" ></button>
                      <button class="btn btn-xs btn-warning">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <span class="glyphicon glyphicon-envelope"></span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      </td>
                      <td class="text-right text-nowrap">
                        <button class="btn btn-xs btn-info glyphicon glyphicon-send" ></button>
                        <button class="btn btn-xs btn-warning">
                          <span class="glyphicon glyphicon-trash"></span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                        <td>
                          <span class="glyphicon glyphicon-envelope"></span>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </td>
                        <td class="text-right text-nowrap">
                          <button class="btn btn-xs btn-info glyphicon glyphicon-send" ></button>
                          <button class="btn btn-xs btn-warning">
                            <span class="glyphicon glyphicon-trash"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                          <td>
                            <span class="glyphicon glyphicon-envelope"></span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </td>
                          <td class="text-right text-nowrap">
                            <button class="btn btn-xs btn-info glyphicon glyphicon-send" ></button>
                            <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-trash"></span></button>
                          </td>
                        </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div id="menu">
            <div class="panel list-group">
             <a class="list-group-item" data-toggle="collapse" data-target="#sm" data-parent="#menu"><span class="glyphicon glyphicon-envelope"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="pull-right">  <button class="btn btn-xs btn-info glyphicon glyphicon-send" ></button> <button class="btn btn-xs btn-warning glyphicon glyphicon-trash"></button></span></a>
             <div id="sm" class="sublinks collapse">
              <a class="list-group-item small">ttttttttttttttttttttttttttd  ttttttttttttttttttttttttttt tttttttttttttttt</a>
              </div>
             <a class="list-group-item" data-toggle="collapse" data-target="#sl" data-parent="#menu">TASKS <span class="glyphicon glyphicon-tag pull-right"></span></a>
             <div id="sl" class="sublinks collapse">
              <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> saved tasks</a>
              <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> add new task</a>
             </div>
             <a  class="list-group-item">ANOTHER LINK ...<span class="glyphicon glyphicon-stats pull-right"></span></a>
            </div>
            </div>

  </ion-content>
</ion-view>