<style>
  /* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}
</style>
<div class="tabs-striped  tabs-background-positive tabs-color-light">
  <div class="tabs">
    <a ng-if="hasRole('EMPRESA')" class="tab-item active" href="#/app/cadastro"><i class="icon ion-android-clipboard"></i> Cadastro </a>
    <a ng-if="hasRole('EMPRESA')" class="tab-item" href="#/app/horarios"> <i class="icon ion-ios-time-outline"></i> Horarios </a>
    <a ng-if="hasRole('ADMIN')" class="tab-item" href="#/app/bQuadra"> <i class="icon ion-ios-time-outline"></i> Buscar Quadra </a>
    <a ng-if="hasRole('ADMIN')" class="tab-item" href="#/app/meusJogos"> <i class="icon ion-ios-time-outline"></i> Meus Jogos </a>
    <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/notificacao"> <i class="icon ion-ios-time-outline"></i> Notificações </a>
    <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/msg"> <i class="icon ion-ios-time-outline"></i> Msg </a>
    <a ng-if="hasRole('EMPRESA')  || hasRole('ADMIN')" class="tab-item" href="#/app/fotos"> <i class="icon ion-images"></i> Fotos </a>
  </div>
  </div>
<ion-view title="Meus Jogos" id="page5">
  <ion-content padding="true" class="has-header">
    
  </ion-content>
</ion-view>