<?xml version='1.0' encoding='utf-8'?>
<widget id="net.mintis.todo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Todo list</name>
    <description>
        A todo list app
    </description>
    <author email="mindaugas.lickus@webelevate.ie" href="https://mintis.net/todo/">
        Mindaugas Lickus
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
