.loginBg{

background: rgb(242, 245, 243);
background: -moz-linear-gradient(left, rgba(242, 245, 243,1) 0%, rgb(242, 245, 243) 45%, rgba(242, 245, 243,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242, 245, 243,1)), color-stop(45%, rgba(242, 245, 243,1)), color-stop(100%, rgba(242, 245, 243,1)));
background: -webkit-linear-gradient(left, rgba(242, 245, 243,1) 0%, rgba(242, 245, 243,1) 45%, rgba(242, 245, 243,1) 100%);
background: -o-linear-gradient(left, rgba(242, 245, 243,1) 0%, rgba(242, 245, 243,1) 45%, rgba(242, 245, 243,1) 100%);
background: -ms-linear-gradient(left, rgba(242, 245, 243,1) 0%, rgba(242, 245, 243,1) 45%, rgba(242, 245, 243,1) 100%);
background: linear-gradient(to right, rgba(242, 245, 243,1) 0%, rgba(242, 245, 243,1) 45%, rgba(242, 245, 243,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#499bea', GradientType=1 );

}

.app-logo{ max-width:100px; margin:auto; background-repeat:no-repeat;background-position:center;}
.top-content { padding-top: 10vh;  text-align: center;   }
.loginButton{ padding-bottom:0px;}
.remvoeBP{ padding-bottom:0px;}
.removePM{ margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:0px; }

#menuLinks .list .item{ border-color:rgb(5, 126, 65);}
#menuLinks .list .item a{ background:rgb(2, 117, 69); color:#fff;}